* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #1f2c46;
    color: #41b883;
    font-size: 22px;
    padding: 22px;
    text-align: center;
}

#app {
    padding: 33px;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}

.input {
    padding: 5px;
    margin: 5px;
    outline: #1f2c46;
    outline-width: 20px;
}

.button {
    padding: 5px 11px;
    margin: 5px;
}

.red {
    width: 100px;
    height: 50px;
    background-color: red;
}

.green {
    width: 100px;
    height: 50px;
    background-color: green;
}

.blue {
    width: 100px;
    height: 50px;
    background-color: blue;
}

.active {
    background-color: rgb(3, 78, 97);
    color: #fff;
    border: 1px solid rgb(3, 78, 97);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid gray;
    padding: 5px;
}