<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js 3 Practice: List rendering of object and numbers</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header>
        <h1>VUE JS 3 Practice Page</h1>
    </header>

    <div id="app">
        <button class="button" @click="toggle">Show/Hide</button>
        <div class="card" v-show="show"></div>
        <br><hr><br>

        <h3>Skills:</h3>
        <ul>
            <li v-for="(skill,index) in skills">
                {{ index+1 }} {{ skill.name }} - 
                <span v-if="skill.experience < 3">Beginner</span>
                <span v-else-if="skill.experience<6">Proficient</span>
                <span v-else>Expert</span>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>

</html>